body {
  margin: 0;
  overflow: hidden;
  background: #1e90ff; /* dış alan mavi */
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  background: white;
}

#palette {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 10px;
  background: #222;
  border: 4px solid blue;
  border-radius: 10px;
}

.color {
  width: 25px;
  height: 25px;
  margin: 3px;
  cursor: pointer;
}

#chatBtn {
  position: fixed;
  right: 20px;
  top: 50%;
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
